* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "montserrat";
}

body {
  background: #333;
}

.central {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.card {
  cursor: pointer;
  width: 340px;
  height: 480px;
}

.front, .back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
}

.front img {
  height: 100%;    
}

.front {
  transform: perspective(600px) rotateY(0deg)
}

.back {
  background: #f1f1f1;
  transform: perspective(600px) rotateY(180deg)
}

.back-content {
  color: #2c3e50;
  text-align: center;
  width: 100%;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #2c3e50;
  font-size: 18px;
  transition: 0.3s ease-in;
  border-radius: 50%;
}

.social-media a:hover {
  background: #2e3e50;
  color: white;
}

.card:hover > .front {
  transform: perspective(600px) rotateY(-180deg)
}

.card:hover > .back {
  transform: perspective(600px) rotateY(0deg)
}

